body {
    margin: 0;
}

#map {
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 0;
}

.map-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background: white;
  padding: 10px 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-family: sans-serif;
}
